html,
body {
  margin: 0;
  min-height: 100%;
}
.App {
  text-align: center;
  background: #3d7eaa; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffe47a,
    #3d7eaa
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffe47a,
    #3d7eaa
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  --s: 0.1em; /* the thickness of the line */
  --c: #e6ff2c; /* the color */

  color: #160fe000;
  padding-bottom: var(--s);
  background: linear-gradient(90deg, var(--c) 50%, #000 0)
      calc(100% - var(--_p, 0%)) / 200% 100%,
    linear-gradient(var(--c) 0 0) 0% 100% / var(--_p, 0%) var(--s) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: 0.5s;
}
h1:hover {
  --_p: 100%;
}

h1 {
  font-family: system-ui, sans-serif;
  font-size: 5rem;
  cursor: pointer;
  padding-top: 2rem;
}
